<!DOCTYPE html>
<%- include('../partials/head'); %>

<body class="container">
  <%- include('../partials/header', {pagina:'Sobre'}); %>

  <main>
    <div class="p-5 text-bg-secondary">
      <h1>Sobre mim</h1>
      <p>Olá, sou Samuel</p>
    </div>
  </main>

  <%- include('../partials/footer'); %>
</body>
</html>